/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.image {
  padding-right: 20px;
}

.thumbnail {
  width: 20vw;
  height: auto;
}

.properties_container {
    width:100vw;
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: auto !important;
  padding: none !important;
  grid-gap: 2rem;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 300px;
}
.item .image {
  height: 165px;
  background-size: cover;
  background-position: center;
}
