<%# <a href="/login" ><button type="button" class="btn btn-default navbar-btn">Login</button></a>
<a href="/users/new" ><button type="button" class="btn btn-default navbar-btn">Create an account</button></a> %>